/*****************************************************/
/* This semester we will be using my variation of    */
/* Josh Comeau's CSS Reset instead of normalize      */
/* Read more at                                      */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/*****************************************************/
/* Always add your CSS below the reset CSS           */
/*****************************************************/
:root {
  --indigo: #355070;
  --misty-violet: #6d226b;
  --soft-magenta: #b56576;
  --bright-rose: #e56b6f;
  --sandy: #faeae1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  /* margin: 0; */
  /* this an experimental line-height; if it breaks, add line-height: 1.5 to body */
  line-height: calc(1em + 0.5rem);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* until you get a feel for overflow, I'll keep these next two commented out */
/* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
} */

/* p {
  overflow-wrap: break-word;
  hyphens: auto;
} */

/* temp CSS for HTML only assignments */
picture img {
  width: 100%;
}

svg {
  width: 200px;
}

/* temp fix to size about img */
img[srcset] {
  width: 50%;
  height: auto;
  margin: 2rem auto;
}

/* temporary fix to size svg images */
img[src$="svg"] {
  width: 200px;
}

/************ add your CSS here *****************/

/* Main Elements */
body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #040404;
}

h1,
h2,
h3,
h4 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-family: Playfair Display;
  color: var(--indigo);
  font-weight: 700;
  font-size: 4rem;
}

h2 {
  font-family: Playfair Display;
  color: var(--misty-violet);
  font-size: 2rem;
}

h3 {
  font-family: Playfair Display;
  color: var(--soft-magenta);
  font-size: 2rem;
}

h4 {
  font-family: Playfair Display;
  color: var(--bright-rose);
  font-size: 1.25rem;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

main {
  align-self: center;
  padding: 0 1rem;
  max-width: 70rem;
}

p {
  margin-bottom: 1.5em;
  font-family: Lato;
}

article,
aside {
  margin-bottom: 4em;
}

aside {
  margin-left: 1em;
}

footer {
  background-color: var(--indigo);
  color: var(--sandy);
  padding: 3rem 1rem 6rem;
  margin: 0;
}

/* * A * */
header nav a {
  text-decoration: none;
  font-family: Lato;
  color: var(--soft-magenta);
  display: block;
  padding: 1rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  /* color: var(--soft-magenta); */
}

a[href]:hover {
  text-decoration: none;
}

header nav a[href]:hover {
  color: var(--bright-rose);
  font-weight: bold;
}

/* Button */

.button {
  color: var(--soft-magenta);
  text-decoration: none;
  font-family: Lato;
  border: 3px solid var(--soft-magenta);
  padding: 0.2em 0.4em;
  display: inline-block;
  transition: background-color 300ms ease, color 300ms ease;
  margin-top: 1em;
}

.button:hover {
  color: white;
  /* border: 3px solid white; */
  background-color: var(--soft-magenta);
  text-decoration: none;
  font-weight: normal;
}

/* Hero */
.hero {
  position: relative;
}

.hero h1 {
  font-size: clamp(3.5rem, 10vw + 1rem, 10rem);
  text-shadow: black 2px 2px 3px;
  color: var(--bright-rose);
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  inset: 0;
  text-align: center;
}

.hero p {
  color: white;
  text-shadow: black 1px 1px 2px;
  font-size: clamp(0.2rem, 1vw + 0.75rem, 4rem);
}

.hero::before {
  content: "";
  background-image: linear-gradient(to top, #000, transparent 50%);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Cards */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.cards {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.card p {
  font-family: Playfair Display;
}

.card {
  flex: 1 1 0;
  padding: 0.6rem;
  max-width: 1000px;
  transition: background-color 300ms ease, font-weight 300ms ease;
  text-decoration: none;
  color: var(--misty-violet);
  font-size: 1.5rem;
}

.card:hover {
  background-color: rgb(0 0 0 / 10%);
  font-weight: bold;
}

/* Articles */

.panel {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.panel .image-wrapper {
  order: -1;
}

/* Media Queries */
@media (min-width: 500px) {
  .panel {
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 1rem;
  }

  .panel h2 {
    margin: 0;
  }

  .panel .text-wrapper {
    flex: 1 1 40%;
  }

  .panel .image-wrapper {
    order: 0;
    flex: 1 1 60%;
  }

  .panel .left {
    order: 1;
  }

  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    flex: 1 1 40%;
  }
}

@media (min-width: 1000px) {
  .cards {
    flex-wrap: nowrap;
  }
}
